#menu2::after {
    display: block;
    content: "";
    background-color: white;
    height: 2px;
    width: 0;
    position: absolute;
    transition: width 0.3s ease-in-out;
}

#menu2::after {
    left: 50%;
    transform: translateX(-50%);
}

#menu2:hover:after {
    width: 100%;
}