@font-face {
    font-family: 'Century Gothic';
    src: url(../gothic.ttf);
}

* {
    font-family: 'Century Gothic';
}

body {
    margin: 0;
    background-blend-mode: color;
    background: rgba(8, 10, 114, 0.644) url(../../pics/back.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

a:active, a:hover, a {
    text-decoration: none;
    color: white;
}

header, footer {
    display: flex;
    color: white;
}

header {
    background-color: rgba(33, 52, 87, 0.35);
    height: 70px;
    align-items: center;
}

footer {
    flex-shrink: 0;
    height: 60px;
    background-color: rgba(33, 52, 87, 0.35);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 50px;
}

#logo {
    margin-top: 5px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.stage {
    height: 3px;
    background: #ffffff;
    opacity: 0;
    animation: 4s move infinite;
    animation-delay: 1s;
}

#stage1 {
    margin-top: 5px;
    width: 25px;
    animation-delay: 4s;
    animation-name: stage1;
}

#stage2 {
    margin-top: 5px;
    width: 35px;
    animation-delay: 3s;
    animation-name: stage2;
}

#stage3 {
    margin-top: 5px;
    width: 45px;
    animation-delay: 2s;
    animation-name: stage3;
}

#stage4 {
    margin-top: 5px;
    width: 55px;
    animation-name: stage4;
}

@keyframes stage1 {
    25% {
        opacity: 1;
    }

    26% {
        opacity: 0;
    }
}

@keyframes stage2 {
    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }
}

@keyframes stage3 {
    75% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    }
}

@keyframes stage4 {
    100% {
        opacity: 1;
    }
}

#headerTitle {
    margin-left: 20px;
    width: 140px;
    cursor: default;
    font-size: 12px;
}

#menu {
    display: flex;
    flex-direction: row;
    margin-left: 220px;
    width: 640px;
}

#menu div {
    margin-right: 35px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    position: relative;
}

#menu1::after, #menu2 p::after, #menu3::after, #menu4::after, #account p::after, #language p::after {
    display: block;
    content: "";
    background-color: white;
    height: 2px;
    width: 0;
    position: absolute;
    transition: width 0.3s ease-in-out;
}

#menu1::after, #menu3::after, #menu4::after {
    left: 50%;
    transform: translateX(-50%);
}

#menu1:hover:after, #menu3:hover:after, #menu4:hover:after {
    width: 100%;
}

#account {
    height: 40px;
    line-height: 40px;
}

#account img {
    margin-top: 5px;
    height: 30px;
    width: 31px;
    opacity: 0.85;
}

#account:hover {
    opacity: 1;
    cursor: pointer;
}

#account div, #menu2 div {
    display: none;
    position: absolute;
    top: 55px;
    background-color: rgba(28, 39, 55, 0.93);
    border-radius: 5px;
    width: 120px;
    padding-bottom: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}

#menu2 div {
    background-color: rgba(31, 38, 51, 0.93);
}

#menu2 div {
    top: 39px;
    height: 75px;
}

#account div p, #menu2 div p {
    color: white;
    font-size: 13px;
    margin: 5px;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

#account div p:after, #menu2 div p:after {
    background-color: white;
}

#account:hover div, #menu2:hover div {
    display: block;
}

#account p:hover, #menu2 p:hover {
    cursor: pointer;
}

#account div p:hover:after {
    width: 85%;
}

#menu2 p:hover:after {
    width: 85%;
}

#language {
    margin-left: 15px;
}

#language > p {
    font-size: 15px;
}

#language div {
    display: none;
    position: absolute;
    top: 55px;
    background-color: rgba(27, 38, 59, 0.93);
    border-radius: 5px;
    width: 40px;
    padding-bottom: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}

#language div p {
    color: white;
    font-size: 13px;
    margin: 5px;
    width: auto;
    height: 30px;
    line-height: 30px;
}

#language div p::after {
    background-color: white;
}

#language:hover div {
    display: block;
}

#language p:hover {
    cursor: pointer;
}

#language div p:hover::after {
    width: 48%;
}

#pages {
    margin: 30px auto 20px;
    font-size: 18px;
    font-weight: bold;
    width: 130px;
    align-items: center;
}

#pages > * {
    display: inline-block;
    width: 33.3%;
    text-align: center;
}

#pages > input {
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(11, 35, 78);
    background-color: rgb(185, 204, 225);
    outline: none;
}

#pages > input:disabled {
    color: rgba(11, 35, 78, 0.5);
}