form {
    height: 68vh;
    width: 1050px;
    border-radius: 14px;
    background: rgba(214, 233, 255, 0.7);
    margin: 50px auto;
    padding-top: 40px;
    color: rgb(11, 35, 78);
}

p#title {
    margin: auto auto 35px;
    cursor: default;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 240px;
}

#layout {
    display: flex;
    align-items: flex-start;
}

#layout #search {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

select {
    border-radius: 6px;
    border: solid 0.7px rgb(95, 108, 167);
    width: 210px;
    height: 30px;
    outline: none;
    padding: 5px;
    margin-top: 20px;
}

#search p {
    font-size: 15px;
    margin-bottom: 5px;
}

#weekdays {
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    margin-left: 20px;
}

#weekdays label {
    font-size: 15px;
    margin-right: 15px;
    height: 14px;
}

#weekdays input {
    margin-right: 7px;
    width: 15px;
    height: 15px;
}

#weekdays>label:nth-of-type(5) {
    margin-left: 5px;
    margin-right: 14px;
}

input, input[type="submit"] {
    border-radius: 6px;
    border: solid 0.7px rgb(95, 108, 167);
    padding: 5px;
    padding-left: 7px;
    height: 25px;
    width: 290px;
}

input:focus {
    outline: 0.4px solid rgba(115, 140, 224, 0.795);
}

input[type="submit"] {
    width: 150px;
    height: 34px;
    margin-top: 90px;
    border-color: rgb(146, 144, 11);
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: rgb(185, 184, 80);
}

input[type="submit"]:enabled {
    background-color: rgb(190, 188, 14);
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
    border: solid 1px rgb(11, 35, 78);
}

th {
    font-weight: normal;
    font-size: 15px;
}

td {
    font-size: 14px;
}

th, td {
    border: solid 1.5px rgb(11, 35, 78);
    padding: 3px;
    padding-right: 7px;
    padding-left: 7px;
}

.color {
    border: solid 2.5px rgb(5, 27, 68);
    background-color: rgba(214, 233, 255, 0.7);
}