form {
    height: 310px;
    width: 400px;
    border-radius: 10px;
    background: rgba(214, 233, 255, 0.7);
    position: absolute;
    left: 280px;
    top: 170px;
    padding-top: 40px;
    color: rgb(11, 35, 78);
    z-index: 2;
}

#rect {
    width: 400px;
    height: 350px;
    margin: 70px 70px 70px 250px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(219, 236, 255, 0.6), rgba(219, 236, 255, 0));
}

form > * {
    margin: 10px 10px 10px 52px;
}

p#title {
    margin: auto auto 25px;
    cursor: default;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
}

input {
    border-radius: 6px;
    border: solid 0.7px rgb(95, 108, 167);
    padding: 5px 5px 5px 7px;
    height: 34px;
    width: 290px;
}

input:focus {
    outline: 0.4px solid rgba(115, 140, 224, 0.795);
}

#subm {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

#subm div {
    align-items: center;
    height: 35px;
    line-height: 35px;
}

div#reg {
    display: flex;
    flex-direction: row;
    margin-left: 29px;
}

#reg p {
    font-size: 15px;
    color: rgb(11, 35, 78);
}

#reg img {
    height: 17px;
    width: 20px;
    margin-left: 5px;
    margin-top: 1px;
}

#reg:hover {
    cursor: pointer;
}

input[type="submit"] {
    width: 140px;
    height: 34px;
    background-color: rgb(190, 188, 14);
    border-color: rgb(146, 144, 11);
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
}