form {
    border-radius: 10px;
    background: rgba(214, 233, 255, 0.8);
    position: absolute;
    left: 280px;
    top: 170px;
    padding-bottom: 40px;
    color: rgb(11, 35, 78);
    z-index: 2;
}

#rect {
    width: 400px;
    height: 350px;
    margin: 70px 70px 70px 250px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(219, 236, 255, 0.6), rgba(219, 236, 255, 0));
}

form > * {
    margin: 10px 10px 10px 52px;
}

p.title {
    margin-left: 75px;
    margin-bottom: 30px;
    margin-top: 45px;
    cursor: default;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

input {
    border-radius: 6px;
    border: solid 0.7px rgb(95, 108, 167);
    padding: 5px 5px 5px 7px;
    height: 34px;
    width: 290px;
    margin-bottom: 7px;
    margin-top: 10px;
}

input:focus {
    outline: 0.4px solid rgba(115, 140, 224, 0.795);
}

input[type="submit"], input[type="button"] {
    width: 140px;
    height: 34px;
    background-color: rgb(190, 188, 14);
    border-color: rgb(146, 144, 11);
    color: white;
}

#next input{
    margin-top: 20px;
    margin-left: 75px;
    border-color: rgb(146, 144, 11);
}

input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
}

#subm {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 300px;
}

#subm img {
    height: 27px;
    width: 33px;
}

#subm img:hover{
    cursor: pointer;
}

#subm input{
    margin-left: 35px;
    width: 180px;
}

form, #page1, #page2 {
    height: 330px;
    width: 400px;
}

#page2 {
    width:300px;
}

#reg {
    transition: 0.5s;
    transform-style: preserve-3d;
}

#page1, #page2 {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
}

#page1 {
    z-index: 2;
}

#page2 {
    left: 10px;
    transform: rotateY(180deg);
}