form {
    min-height: 430px;
    height: auto;
    width: 450px;
    border-radius: 5px;
    background: rgba(214, 233, 255, 0.8);
    margin: 50px auto;
    color: rgb(11, 35, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
}

#rect {
    width: 530px;
    margin: 40px 40px 40px 380px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(219, 236, 255, 0.6), rgba(219, 236, 255, 0));

}

p#title {
    margin: 40px auto 20px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 300px;
}

form div {
    font-size: 15px;
}

form>div {
    border: solid 1px rgb(5, 27, 68);
    background-color: rgba(214, 233, 255, 0.5);
    border-radius: 10px;
    padding: 10px 25px;
    margin-top: 20px;
    width: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

form>div>div:last-child {
    display: flex;
    flex-direction: column;
}

form>div>div:last-child>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

form>div>div:last-child>div>div {
    margin-left: 20px;
}