form:first-of-type {
    height: 100px;
    padding-bottom: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

form:last-of-type {
    min-height: 430px;
    height: auto;
    padding-top: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}