form {
    height: 450px;
    width: 830px;
    border-radius: 5px;
    background: rgba(214, 233, 255, 0.8);
    display: flex;
    flex-direction: column;
    margin: -470px auto 0 !important;
    position: relative;
    z-index: 2;
}

#rect {
    max-height: 470px;
    width: 830px;
    margin: 30px 30px 30px 220px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(219, 236, 255, 0.6), rgba(219, 236, 255, 0));
}

#courseProps {
    display: flex;
    flex-direction: row;
    width: 830px;
}

#courseProps > div:first-of-type {
    margin-left: 40px;
    margin-right: 10px;
}

#courseProps > #last {
    margin-right: 40px;
    width: 420px;
}

#courseProps > #last p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#courseProps p {
    cursor: default;
    margin-bottom: 5px;
}

.time {
    display: flex;
    flex-direction: row;
}

.time div {
    width: 110px;
    margin-right: 30px;
}

.time input, #courseProps > #last input {
    width: 78px;
    margin-left: 22px;
    margin-top: 3px;
}

.time div:last-child input {
    width: 50px;
}

#courseProps > #last {
    margin-top: 10px;
}

#courseProps > #last input {
    margin-bottom: 5px;
}

input:not(#weekdays input):not([type=submit]):not([type=button]), textarea {
    border-radius: 6px;
    border: solid 0.7px rgb(95, 108, 167);
    height: 27px;
    outline: none;
    padding: 5px 5px 5px 7px;
}

#age {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#age input {
    max-width: 58px;
}

input[type=submit], input[type=submit] {
    margin: 35px auto 30px;
    min-height: 25px;
}

input:focus {
    outline: 0.4px solid rgba(115, 140, 224, 0.795);
}

textarea {
    height: 80px;
    width: 480px;
    margin-left: 40px;
    padding: 10px
}