input[type=button]:disabled, input[type=submit]:disabled {
    background-color: rgb(185, 184, 80);
}

input[type=button]:enabled, input[type=submit]:enabled {
    background-color: rgb(190, 188, 14);
}

#all {
    display: grid;
    grid-template-columns: 180px 220px 120px 130px;
    grid-row-gap: 1vw;
    margin-left: auto;
    margin-right: 35px;
}

#all > div:nth-child(-n+5) {
    font-size: 15px;
    font-weight: bold;
    cursor: default;
}

#all > div:not(:nth-child(-n+5)) {
    font-size: 14px;
    cursor: pointer;
}

#all > div {
    text-align: center;
    border-top: 1px solid rgb(11, 35, 78);
    border-bottom: 1px solid rgb(11, 35, 78);
    padding: 0.8em;
}

#all > div:nth-child(5n+1) {
    border-left: 1px solid rgb(11, 35, 78);
    border-radius: 15px 0 0 15px;
}

#all > div:nth-child(5n) {
    border-right: 1px solid rgb(11, 35, 78);
    border-radius: 0 15px 15px 0;
}

.color {
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
    background-color: rgba(254, 255, 235, 0.8);
}

div.color:nth-child(5n+1) {
    border-left-width: 2px !important;
}

div.color:nth-child(5n) {
    border-right-width: 2px !important;
}

form > div > div:last-child {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 275px;
    margin-top: 20px;
}

#buttons > * {
    margin-top: 25px;
}

#buttons > div {
    margin-right: 25px;
}

#buttons > *:nth-child(2n) {
    margin-left: 15px;
}

#buttons > input:last-of-type {
    margin-bottom: 30px;
}